version: '3.9'


services:
  web:
    build: .
    container_name: django_movies
    command: gunicorn movie_project.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - '8000:8000'
    env_file:
      - .env
    depends_on:
      - db
      - rabbitmq


  celery_worker:
    build: .
    container_name: celerry_worker
    command: celery -A movie_project worker -l info
    volumes:
      - .:/code
    env_file:
      - .env
    depends_on:
      - db
      - rabbitmq


  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: rabbitmq_movies
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest


  db:
    image: postgres:16-alpine
    container_name: postgres_filmes
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"


volumes:
  postgres_data:

