{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

        <script>
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": true,
                "progressBar": true,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
        </script>
        <script src="https://cdn.tailwindcss.com"></script>
        <title>{% block title %}Projeto Filmes{% endblock %}</title>

    </head>
    <body class="bg-gray-100">
        <div class="flex h-screen">

            {% include 'movies/sidebar.html' %}

            <main class="flex-1 p-8 overflow-auto">
                {% block content %}
                    {% include 'movies/reports.html' %}
                {% endblock %}
            </main>
        </div>

        {% block scripts %}
            <script src="{% static 'movies/js/scripts.js' %}"></script>
        {% endblock %}
    </body>
</html>